[system]
user = metar
path = /home
url = https://aviationweather.gov/api/data/metar?ids={}&hours=0&format=json
tz = ct
mph = True

[awos]
station = KLWC

[wifi]
ssid = network
password = password

[display]
dimhr = 22
dimmin = 0
brthr = 5
brtmin = 45
dimval = 16
brtval = 83

